

body{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background: linear-gradient(to right, rgb(25, 213, 188),pink);
      padding :150px 250px;
}
.container{
    background: linear-gradient(to right, rgb(25, 213, 188),pink);
 
    width: 310px;
    height: 390px;
    margin-left: 300px;
    margin-top: 50px;
   
    padding: 30px;
    border: none;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.display{
    display: flex;
    flex-wrap: wrap;
    padding: 17px;
    border: none;
    border-radius: 12px;
    width: 33vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-left: 20px;
    font-size: 25px;
    font-weight:bold;
    height:25px;

}
button {
   
    border-radius: 12px;
    width: 52px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top:30px; 
    padding: 20px;
    margin: 3px;
    font-weight: bold;
    font-size: larger;
    border: none;
   
}
button:hover {
    background: linear-gradient(to right, rgb(25, 213, 188),pink);
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
}
